body{
    background-color: black;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url("../p1.jpg");
    background-size:100% 100%;


}
.home .black{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.home .black nav{
    background-color: transparent !important;
}